docpro-requerimientos.md
propuesta-docpro.html
CLAUDE.md
docpro-db-propuesta-b-modificada.md
docpro-schema-workbench.sql
**/__pycache__/**
*.db
.venv/
backend/tmp/
docpro-cotizacion-propuesta-a.html
docpro-informe-propuesta.html
docpro-configuracion-propuesta-b.html